extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  .row.justify-content-center.mt-4
    .col-12.col-md-8
      .card.shadow-sm
        .card-body.row.p-5
          .mt-3.mt-mb-0
            +formFor()(action=route('users') method='post')
              +input(user, t('views.users.new.firstname'), errors)(type="text" placeholder=t('views.users.new.firstname'))
              +input(user, t('views.users.new.lastname'), errors)(type="text", placeholder=t('views.users.new.lastname'))
              +input(user, t('views.users.new.email'), errors)(type="text", placeholder=t('views.users.new.email'))
              +input(user, t('views.users.new.password'), errors)(type="password", placeholder=t('views.users.new.password'))
              +submit(user)(value=t('views.users.new.submit'))
