- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .form-floating.mb-3(class=(errors[propertyName] && 'has-danger'))
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')
    label(
      for= inputId
    )= propertyName

mixin textarea(entity, propertyName, label)
  - inputId = getInputId(propertyName)
  .mb-3
    label(for= inputId)= label
    textarea(
      id= inputId
      name=getInputName(propertyName)
      class='form-control'
      rows='3'
    )&attributes(attributes)= _.get(entity, propertyName, '')

mixin select(entityes, task, propertyName, label, errors = {}, multiple = false)
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(errors[propertyName]) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  - selectedId = Array.isArray(task[propertyName]) ? task[propertyName].map((el) => el.id) : task[propertyName]
  - currentSelectedId = _.isEmpty(task) ? 0 : selectedId
  - isSelected = (entity) => [currentSelectedId].flat().includes(entity.id) ? true : false
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(for= inputId)= label
    select(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      multiple=multiple
    )&attributes(attributes)
      if !multiple 
        option
      each entity in entityes
        option(
          value=entity.id
          selected= isSelected(entity)
        )= entity.name
    if !_.isEmpty(propertyErrors && inputId)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin filterTasks(entities, filter, propertyName, label)
  - inputId = getInputId(propertyName)
  - isSelected = (entity) => filter === entity.id.toString()
  .col-12.col-md
    .input-group.mb-3
      label.input-group-text(for= inputId)= label
      select(
        id= inputId
        name=propertyName
        class='form-select'
      )&attributes(attributes)
        option
        each entity in entities
          option(
            value=entity.id
            selected= isSelected(entity)
          )= entity.name

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)
